/* CSS */

/* Page Styling */
html, body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
} 

/* Page Layout */

#main-doc {
  position: absolute;
  margin-left: 200px;

}

#navbar {
  position: fixed;
  min-width: 290px;
  height: 100%;
  width: 300px;
  border-right: 20px solid;
  border-color: salmon !important;
  left: 0px;

}

/* Styling */

.main-doc header {
  position: absolute;
  font-size: 43px;
  text-align: left;
  font-family: 'Lobster', cursive;
  margin: 0px;
}

#navbar a {
  text-decoration: none;
  color: black;
  list-style: none;
  /* border: 1px solid; */
}

a {
  text-decoration: none;
  color: black;

  /* border: 1px solid; */
}

li {
    /* border: 1px solid; */
    list-style: none;
    padding-right: 0px;
    position: relative;
}

#navbar ul{
  height:88%;
  overflow-y:auto;
  overflow-x:hidden;
}
