/* CSS */

/*! Overall Styling */
html,
body {
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
	padding-right: 0px;
	position: relative;
}

.container-main {
	display: flex;
	flex-direction: column;
	/* max-width: 100vw !important; */
}

/*! Page Layout */

#main-doc {
	position: absolute;
	margin-left: 200px;
}

#main-doc header {
	font-size: 2rem;
	text-align: left;
	font-family: 'Lobster', cursive;
}

/*! NavBar */

#navbar {
	position: fixed;
	height: 100%;
	border-right: solid 10px #00b8cb;
	/* border-right: 20px solid;
  border-color: salmon !important; */
	left: 0px;
}

.nav-wrapper {
	margin-right: 0.25rem;
}

#navbar ul {
	height: 88%;
	overflow-y: auto;
	overflow-x: hidden;
}

#navbar a {
	text-decoration: none;
	color: black;
	list-style: none;
}

/* Media Queries */

@media screen and (max-width: 1205px) {
	.container-main {
		max-width: 55vw !important;
		margin-left: 9.5rem !important;
		/* margin-right: 3rem !important; */
	}
	#references {
		max-width: 55vw !important;
	}
	#menu {
		padding-left: 0.5rem;
	}
}
